* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin-top: 30px;
    
}

#welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    height: 80vh;
    outline: solid 3px black;
    width: 60%;
    margin: 10px;
}

.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

#timer {
    font-size: 40px;
}